@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ##### Khu vực chào mừng bắt đầu ##### -->
<section class="welcome_area demo2 flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <!-- Nội dung chào mừng -->
            <div class="col-12 col-lg-7 col-md-12">
                <div class="welcome-content v2">
                    <div class="promo-section">
                        <div class="integration-link light">
                            <span class="integration-icon">
                                <img src="img/svg/img-dollar.svg" width="24" height="24" alt="">
                            </span>
                            <a href="/Templates/template-cv"><span class="integration-text">Khám phá cách dễ dàng nhất để tạo CV của bạn!</span></a>
                        </div>
                    </div>
                    <h1 class="wow fadeInUp" data-wow-delay="0.2s">Công cụ tạo CV trực tuyến với mẫu sáng tạo.</h1>
                    <p class="wow fadeInUp" data-wow-delay="0.3s">
                        Trình tạo CV hoàn hảo của chúng tôi giúp bạn thoát
                        khỏi rắc rối khi viết CV. Chọn từ nhiều mẫu khác nhau và làm theo hướng dẫn đơn giản để tạo
                        CV sẵn sàng cho công việc.
                    </p>
                    <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                        <a href="/Templates/template-cv" class="btn dream-btn green-btn mr-3">Chọn Mẫu</a>
                        <a href="#" class="btn dream-btn green-btn">Liên Hệ</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 col-md-12">
                <div class="banner-box">
                    <img src="img/core-img/banner_custom_1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Khu vực chào mừng kết thúc ##### -->

<div class="clearfix"></div>

<!-- Khu vực video giới thiệu -->
<section class="demo-video feat bub-left">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="services-block-four">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="img/icons/d1.png" alt="">
                        </div>
                        <h3><a href="#">Dễ dàng tạo CV trực tuyến</a></h3>
                        <div class="text">Tạo CV trực tuyến một cách dễ dàng và nhanh chóng, với các mẫu thiết kế chuyên nghiệp và thân thiện với người dùng.</div>
                    </div>
                </div>
                <div class="services-block-four">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="img/icons/d2.png" alt="">
                        </div>
                        <h3><a href="#">Mẹo chuyên gia từng bước</a></h3>
                        <div class="text">Các mẹo từng bước từ các chuyên gia giúp bạn xây dựng CV nổi bật, thu hút nhà tuyển dụng từ cái nhìn đầu tiên.</div>
                    </div>
                </div>
                <div class="services-block-four" style="margin-bottom:0">
                    <div class="inner-box">
                        <div class="icon-img-box">
                            <img src="img/icons/d3.png" alt="">
                        </div>
                        <h3><a href="#">Cụm từ được nhà tuyển dụng chấp thuận</a></h3>
                        <div class="text">
                            Sử dụng các cụm từ được nhà tuyển dụng ưa chuộng để tăng cơ hội lọt vào vòng phỏng vấn, tạo ấn tượng tốt nhất với họ.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="who-we-contant mt-s">
                    <div class="dream-dots">
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <h4>Tại sao chọn nền tảng của chúng tôi?</h4>
                    <p>
                        CV Flare cung cấp dịch vụ tạo và chỉnh sửa CV chuyên nghiệp, giúp bạn tối ưu thời gian và chi phí tạo CV. Ngoài ra, chúng tôi còn cung cấp các dịch vụ như chụp ảnh profile trọn gói, hỗ trợ quá trình xây dựng CV. <br>
                        <br> Khám phá các mẫu CV độc đáo và chuyên nghiệp, giúp bạn thể hiện kỹ năng và nổi bật trong mắt nhà tuyển dụng. Định hình phong cách cá nhân và ghi dấu ấn riêng ngay từ hồ sơ của bạn.
                    </p>
                    <a class='btn dream-btn mt-30' href="/Templates/template-cv">Bắt Đầu Tạo CV Của Bạn</a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- ##### Khu Vực Về Chúng Tôi Bắt Đầu ##### -->
<section class="about-us-area section-padding-100 clearfix">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-lg-6">
                <div class="who-we-contant">
                    <div class="dream-dots">
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <h4 class="bold">Chúng tôi mang đến điều tốt nhất</h4>
                    <div class="list-wrap align-items-center">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="side-feature-list-item">
                                    <img src="img/icons/check.png" class="check-mark-icon" alt="">
                                    <div class="foot-c-info">
                                        Mẫu CV đã được chứng minh để tăng cơ hội trúng tuyển
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="side-feature-list-item">
                                    <img src="img/icons/check.png" class="check-mark-icon" alt="">
                                    <div class="foot-c-info">Thiết kế mẫu sáng tạo và sạch sẽ</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="side-feature-list-item">
                                    <img src="img/icons/check.png" class="check-mark-icon" alt="">
                                    <div class="foot-c-info">Trình tạo CV trực tuyến dễ dàng và trực quan</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="side-feature-list-item">
                                    <img src="img/icons/check.png" class="check-mark-icon" alt="">
                                    <div class="foot-c-info">
                                       Được phát triển bởi các chuyên gia
                                        tuyển dụng.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="side-feature-list-item">
                                    <img src="img/icons/check.png" class="check-mark-icon" alt="">
                                    <div class="foot-c-info">Định dạng CV và hồ sơ dễ dàng và nhanh chóng</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="side-feature-list-item">
                                    <img src="img/icons/check.png" class="check-mark-icon" alt="">
                                    <div class="foot-c-info">Cụm từ được nhà tuyển dụng chấp thuận</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="welcome-meter wow fadeInUp mt-s" data-wow-delay="0.3s">
                    <img src="img/Poster.jpg" class="center-block" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Khu Vực Về Chúng Tôi Kết Thúc ##### -->

<div class="clearfix"></div>

<!-- ##### Khu Vực Bắt Đầu ##### -->
<section class="container section-padding-0-100">
    <div class="subscribe">
        <div class="row align-items-center relative">
            <img src="img/core-img/custom_1.png" alt="" class="custom">
            <div class="col-lg-5 col-lg-offset-3 col-md-9 col-xs-12">
                <h2 class="bold mb-0">CV HAY, CƠ HỘI LIỀN TAY!</h2>
            </div>
            <div class="col-lg-3 col-lg-offset-1 col-md-3 col-sm-12 text-center">
                <a class='button mt-s' href='contact-us.html'>Gửi yêu cầu</a>
            </div>
        </div>
    </div>
</section>
<!-- ##### Khu Vực Kết Thúc ##### -->
<!-- ##### Khu Vực Tính Năng Chính Bắt Đầu ##### -->
<section class="our_services_area" id="services">
    <div class="container">
        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
            <h2 class="wow fadeInUp" data-wow-delay="0.3s">Tính năng chính của chúng tôi</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">
                CV Flare - Giải pháp tối ưu cho một hồ sơ chuyên nghiệp và nổi bật.
            </p>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Nội dung -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Biểu tượng -->
                    <div class="service_icon">
                        <img src="img/icons/f1.png" alt="">
                    </div>
                    <h6>Mẫu CV đã được chứng minh để tăng cơ hội trúng tuyển</h6>
                    <p>Tạo CV chuyên nghiệp giúp bạn nổi bật và thu hút sự chú ý từ nhà tuyển dụng. Các mẫu CV được tối ưu hóa để truyền tải thông tin cá nhân và kỹ năng một cách ấn tượng.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Nội dung -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Biểu tượng -->
                    <div class="service_icon">
                        <img src="img/icons/f2.png" alt="">
                    </div>
                    <h6>Thiết kế mẫu sáng tạo, hiện đại và sạch sẽ</h6>
                    <p>Mẫu CV hiện đại, chuyên nghiệp với bố cục thông minh, màu sắc hài hòa, dễ đọc, thu hút, làm nổi bật thông tin quan trọng và thể hiện sự tinh tế, chuyên môn cũng như cá tính riêng của ứng viên.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Nội dung -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Biểu tượng -->
                    <div class="service_icon">
                        <img src="img/icons/f3.png" alt="">
                    </div>
                    <h6>Trình tạo CV và hồ sơ trực tuyến dễ dàng và trực quan</h6>
                    <p>Công cụ hỗ trợ tạo CV trực tuyến với giao diện thân thiện, giúp bạn dễ dàng chỉnh sửa, cập nhật thông tin cá nhân, kinh nghiệm làm việc, và kỹ năng chỉ với vài thao tác đơn giản.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Nội dung -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.5s">
                    <!-- Biểu tượng -->
                    <div class="service_icon">
                        <img src="img/icons/f4.png" alt="">
                    </div>
                    <h6>Phát triển bởi các chuyên gia tuyển dụng</h6>
                    <p>Công cụ được phát triển với sự hợp tác của các chuyên gia tuyển dụng hàng đầu, giúp bạn tạo CV miễn phí và đáp ứng các yêu cầu tuyển dụng hiện nay.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Nội dung -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.6s">
                    <!-- Biểu tượng -->
                    <div class="service_icon">
                        <img src="img/icons/f5.png" alt="">
                    </div>
                    <h6>Cụm từ được nhà tuyển dụng chấp thuận kèm thông báo</h6>
                    <p>Các cụm từ gợi ý phù hợp được tích hợp vào công cụ, giúp bạn tối ưu hóa cách diễn đạt và làm nổi bật kỹ năng trong CV, đáp ứng mong đợi từ nhà tuyển dụng.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Nội dung -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.7s">
                    <!-- Biểu tượng -->
                    <div class="service_icon">
                        <img src="img/icons/f6.png" alt="">
                    </div>
                    <h6>Định dạng CV và hồ sơ dễ dàng, nhanh chóng</h6>
                    <p>Công cụ hỗ trợ tự động căn chỉnh, định dạng và xuất CV theo chuẩn định dạng file PDF, giúp CV của bạn sẵn sàng cho bất kỳ công việc.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Khu Vực Tính Năng Chính Kết Thúc ##### -->
<!-- ##### Khu Vực Chứng Thực Bắt Đầu ##### -->
<section class="clients_testimonials_area section-padding-0-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <div class="dream-dots justify-content-center">
                        <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <h2>Thành công của bạn, cảm hứng của chúng tôi</h2>
                    <p>Quy trình chỉnh sửa CV nhanh chống, chuyên nghiệp tối ưu hiệu quả hoàn thiện CV.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Khu Vực Chứng Thực Kết Thúc ##### -->


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var isSuccess = @(TempData["Success"] != null && TempData["Success"].ToString().ToLower() == "true" ? "true" : "false");

        if (isSuccess) {
            Swal.fire({
                title: 'Login Successful!',
                text: 'Welcome back! Redirecting you to your destination.',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        }
    });
</script>