@page
@model CV_Flare.RazorPage.Pages.UploadCVModel
@{
    ViewData["Title"] = "Upload CV";
}
<link rel="stylesheet" href="~/css/uploadcv.css">

<div class="container" style="margin: 100px">
    <h2>Upload CV và Mô tả Công việc</h2>

    <!-- Hiển thị thông báo thành công hoặc lỗi -->
    <div>
        <p>@ViewData["CVStatus"]</p>
        <p>@ViewData["JobDescriptionStatus"]</p>
    </div>

    <form method="post" enctype="multipart/form-data">
        <!-- Mô tả công việc -->
        <div class="form-group">
            <label for="JobDescripion">Mô tả công việc (JD):</label>
            <textarea id="JobDescripion" name="JobDescripion" class="form-control" placeholder="Nhập mô tả công việc..." rows="5"></textarea>
        </div>

        <!-- Tải lên CV -->
        <div class="form-group">
            <label for="file">Tải lên CV:</label>
            <input type="file" id="file" name="CVFile" class="form-control" accept=".pdf">
        </div>

        <button type="submit" class="btn btn-primary">Tải lên</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/uploadcv.js"></script>
